*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: black;
    margin-top: 30px;
}
.logo{
    font-size: 26px;
    font-weight: bold;
    color: white;
}
.nav-itam{
    display: flex;
    list-style: none;
    gap: 2rem;
   
}
.nav-itam a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav-links a:hover {
  color: red;
}
.nav-btn{
    border-radius: 50px;
    padding: 15px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}
.naav-btn{
    border-radius: 50px;
    padding: 15px;
    border: 1px solid white;
    background-color: red;
    color: white;
}
.hero{
    justify-items: center;
    font-size: 35px;
}
.hero>p{
    font-size: small;
    color: lightslategray;
}
.cards{
    display: flex;
    justify-content:space-around;
    gap: 0px;
    
}
.card{
    margin-top: 50px;
    width: 280px;
    height: 230px;
    overflow: hidden;
    border-radius: 10px;
}
.card button{
     margin-left: 80px;
     margin-top: 20px;
      border-radius: 9.1rem;
    padding: 15px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}
.card img{
    border-radius: 10px;
    width: 100%;
}
.hero1{
    justify-items: center;
    font-size: 20px;
    margin-top: 7%;
}
.hero1 p{
    font-size:small;
    color: gray;
}
.bold{
    font-weight: 100;
    font-size: smaller;
}
.img{
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin-left:2%;   
       
}
.para-btn{
    color: red;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    padding: 5%;    
}
.hero2{
    justify-content: center;
    justify-items: center;
    margin-top:     5%;
}
.mini-card1{
    border: none;
    display: inline-block;
    width: 300px;
    height: 425px;
    overflow: hidden;
    margin-left: 4%;
}
.mini-card1{
    width: 300px;
    justify-items: center;
    font-size: smaller;
    height: 5%;
}
.color{
    color: grey;
}
.hero-card{
    justify-content: center;
    display: flex;
}
.para55{
    font-size:20px;
}
.village{
    display: flex;
}
.village-para{
    justify-content: center;
    margin-top: 3%;
    margin-left: 2%;    
}
.btncolor:hover{
    background-color: red;
    color: black;
}
.hero3{
    display: flex;
    justify-content: space-around;
}
.mini-card2{
    justify-content: space-around ;
    height: 170px;
    width: 280px;
    background-color: white;
    color: black;
    font-size: 16px;
    justify-content: end;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.mini-img{
   margin-left: 40%;
}
.footer-section{
    margin-top: 8%;
}
.footer-para{
    width: 250px;
    margin-top: 1%;
}
.footer-section{
    display: flex;
    justify-content: space-around;
}
.footer-itam{
    text-decoration: none;
    list-style: none;
}

.footer-itam a{
    color: gray;
    text-decoration: none;
    
}
.footer-list1{
    width: 150px;
}
.footer-list1 p{
    color: gray;
}
.about-para{
    width: 800px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: auto;
    margin-top: 3%;
}
.about-para p{
    font-size: 11px;
    color: gray;
}
.about-para h2{
    margin-left: 42%;
}
.para-img{
    display: flex;   
    justify-content: space-around;
    margin-top: 6%;
}
.para-img1{
    width: 500px;
}
.para-img1 p{
    color: gray;
    font-size: 15px;
}
.salt span{
    color: aqua;
}
.para-hero{
    justify-content: center;
    justify-items: center;
    margin-top: 3%;
    margin-bottom: 4%;

}
.vip-img{ 
    border-radius: 10px;
    overflow: hidden;
}
.king{
    color: gray;
}
.gray{
    color: gray;
}
.book1{
    border: 1px solid gray;
    width: 500px;
    height: 500px;
    align-content: center;
}
.book2{
    border: 1px solid grey;
    width: 500px;
    height: 500px;
    align-content: center;
}
.public{
    display: flex;
    gap: 19px;
    justify-content: center;
}
.public-text{
    justify-content: center;
    justify-items: center;
    margin-top: 4%;
}
.public-text p{
    color: gray;
    font-size: smaller;
}
@media screen and (max-width: 768px) {
    .footer-section {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-itam {
        flex-direction: column;
        width: 100%;
    }
    .btn {
        flex-direction: column;
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .hero h5 {
        font-size: 1.5rem;
    }
    .hero p {
        font-size: 1rem;
    }
}